---
- name: Get current panel plugin IDs
  ansible.builtin.command:
    cmd: xfconf-query -c xfce4-panel -p /panels/panel-1/plugin-ids
  register: desktop_panel_plugin_ids_raw
  changed_when: false

- name: Parse panel plugin IDs
  ansible.builtin.set_fact:
    desktop_panel_plugin_ids: "{{ desktop_panel_plugin_ids_raw.stdout_lines[2:] | map('int') | list }}"

- name: Find next available plugin ID
  ansible.builtin.set_fact:
    desktop_next_plugin_id: "{{ (desktop_panel_plugin_ids | max) + 1 }}"

- name: Create launcher directory
  ansible.builtin.file:
    path: ~/.config/xfce4/panel/launcher-{{ desktop_next_plugin_id }}
    state: directory
    mode: "0755"

- name: Copy desktop file to launcher directory
  ansible.builtin.copy:
    src: "{{ item.desktop_file }}"
    dest: ~/.config/xfce4/panel/launcher-{{ desktop_next_plugin_id }}/{{ item.desktop_file | basename }}
    remote_src: true
    mode: "0644"

- name: Configure launcher plugin type
  community.general.xfconf:
    channel: xfce4-panel
    property: /plugins/plugin-{{ desktop_next_plugin_id }}
    value_type: string
    value: launcher

- name: Configure launcher items
  community.general.xfconf:
    channel: xfce4-panel
    property: /plugins/plugin-{{ desktop_next_plugin_id }}/items
    value_type: string
    value:
      - "{{ item.desktop_file | basename }}"
    force_array: true

- name: Add launcher plugin to panel
  community.general.xfconf:
    channel: xfce4-panel
    property: /panels/panel-1/plugin-ids
    value_type: int
    value: "{{ desktop_panel_plugin_ids[: item.position] + [desktop_next_plugin_id | int] + desktop_panel_plugin_ids[item.position :] }}"
    force_array: true
