---
- name: Install tools via APT
  become: true
  ansible.builtin.apt:
    state: present
    update_cache: true
    pkg:
      - kali-wallpapers-2024
      - menulibre

- name: Set desktop background image
  community.general.xfconf:
    channel: xfce4-desktop
    property: /backdrop/screen0/monitorVirtual1/workspace0/last-image
    value_type: string
    value: /usr/share/backgrounds/kali/kali-metal-dark-16x9.png
