---
- name: Install packages for APT HTTPS and adding deb822 repositories
  become: true
  ansible.builtin.apt:
    state: present
    update_cache: true
    pkg:
      - apt-transport-https
      - python3-debian

- name: Convert Kali APT sources to modern 'deb822' format
  become: true
  ansible.builtin.command:
    cmd: apt modernize-sources -y
  register: system_apt_modernize_result
  changed_when: "'All sources are modern.' not in system_apt_modernize_result.stdout"

- name: Switch to using HTTPS for Kali sources
  become: true
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list.d/kali.sources
    regexp: '^URIs: http://'
    line: 'URIs: https://http.kali.org/kali/'

- name: Upgrade all packages (will take a while)
  become: true
  ansible.builtin.apt:
    upgrade: full
    update_cache: true
    state: latest
