---
- name: Set default locale to en_GB.UTF-8
  become: true
  ansible.builtin.debconf:
    name: locales
    question: locales/default_environment_locale
    value: en_GB.UTF-8
    vtype: select

- name: Enable and generate en_GB.UTF-8 locale
  become: true
  community.general.locale_gen:
    name: en_GB.UTF-8
    state: present

- name: Set system locale
  become: true
  ansible.builtin.copy:
    dest: /etc/default/locale
    content: |
      LANG=en_GB.UTF-8
      LANGUAGE=en_GB:en
      LC_ALL=en_GB.UTF-8
    mode: '0644'
