---
- name: Install Binary Ninja Free
  block:
    - name: Check if Binary Ninja is already installed
      ansible.builtin.stat:
        path: "{{ ansible_facts['env']['HOME'] }}/.binaryninja/binaryninja/binaryninja"
      register: tools_binaryninja_installed

    - name: Download Binary Ninja Free
      ansible.builtin.get_url:
        url: https://cdn.binary.ninja/installers/binaryninja_free_linux.zip
        dest: /tmp/binaryninja_free_linux.zip
        mode: '0644'
      when: not tools_binaryninja_installed.stat.exists

    - name: Create binaryninja install directory
      ansible.builtin.file:
        path: "{{ ansible_facts['env']['HOME'] }}/.binaryninja"
        state: directory
        mode: "0755"

    - name: Extract Binary Ninja Free
      ansible.builtin.unarchive:
        src: /tmp/binaryninja_free_linux.zip
        dest: "{{ ansible_facts['env']['HOME'] }}/.binaryninja"
        remote_src: true
      when: not tools_binaryninja_installed.stat.exists

    - name: Clean up Binary Ninja zip file
      ansible.builtin.file:
        path: /tmp/binaryninja_free_linux.zip
        state: absent

    - name: Create symlink for binaryninja in ~/.local/bin
      ansible.builtin.file:
        src: "{{ ansible_facts['env']['HOME'] }}/.binaryninja/binaryninja/binaryninja"
        dest: "{{ ansible_facts['env']['HOME'] }}/.local/bin/binaryninja"
        state: link

    - name: Copy the binaryninja logo file
      ansible.builtin.copy:
        src: binaryninja_logo.png
        dest: "{{ ansible_facts['env']['HOME'] }}/.binaryninja/binaryninja/logo.png"
        mode: '0664'

    - name: Copy the binaryninja desktop file
      become: true
      ansible.builtin.copy:
        src: binaryninja.desktop
        dest: "/usr/share/applications/binaryninja.desktop"
        mode: '0664'
