---
- name: Install Docker
  become: true
  block:
    - name: Add Docker signing key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/debian/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'

    - name: Add Docker APT repository
      ansible.builtin.deb822_repository:
        name: docker
        types: deb
        uris: https://download.docker.com/linux/debian
        suites: bookworm
        components: stable
        architectures: amd64
        signed_by: /etc/apt/keyrings/docker.asc
        state: present

    - name: Install Docker packages
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: true

    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ ansible_facts['env']['USER'] }}"
        groups: docker
        append: true
