---
- name: Install pwntools globally via pip
  ansible.builtin.pip:
    name: pwntools
    state: present
    break_system_packages: true

- name: Install netexec via pipx
  community.general.pipx:
    name: netexec
    state: present
    source: git+https://github.com/Pennyw0rth/NetExec

- name: Install tools via pipx
  community.general.pipx:
    state: present
    name: "{{ item }}"
  loop:
    - bandit

- name: Install uv
  block:
    - name: Check if uv is already installed
      ansible.builtin.stat:
        path: "{{ ansible_facts['env']['HOME'] }}/.local/bin/uv"
      register: tools_uv_installed

    - name: Download uv installer
      ansible.builtin.get_url:
        url: https://astral.sh/uv/install.sh
        dest: /tmp/uv-init.sh
        mode: '0755'
      when: not tools_uv_installed.stat.exists

    - name: Run uv installer
      ansible.builtin.command: /tmp/uv-init.sh
      when: not tools_uv_installed.stat.exists
      changed_when: true

    - name: Clean up uv installer
      ansible.builtin.file:
        path: /tmp/uv-init.sh
        state: absent

- name: Install pyenv
  block:
    - name: Check if pyenv is already installed
      ansible.builtin.stat:
        path: "{{ ansible_facts['env']['HOME'] }}/.pyenv/bin/pyenv"
      register: tools_pyenv_installed

    - name: Download pyenv installer
      ansible.builtin.get_url:
        url: https://pyenv.run
        dest: /tmp/pyenv-init.sh
        mode: '0755'
      when: not tools_pyenv_installed.stat.exists

    - name: Run pyenv installer
      ansible.builtin.command: /tmp/pyenv-init.sh
      when: not tools_pyenv_installed.stat.exists
      changed_when: true

    - name: Setup shell environment for pyenv
      ansible.builtin.blockinfile:
        path: "{{ ansible_facts['env']['HOME'] }}/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK - pyenv"
        append_newline: true
        prepend_newline: true
        block: |
          export PYENV_ROOT="$HOME/.pyenv"
          [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
          eval "$(pyenv init - zsh)"
      when: not tools_pyenv_installed.stat.exists

    - name: Clean up pyenv installer
      ansible.builtin.file:
        path: /tmp/pyenv-init.sh
        state: absent
