---
- name: Install Visual Studio Code
  block:
    - name: Add Microsoft signing key
      become: true
      ansible.builtin.get_url:
        url: https://packages.microsoft.com/keys/microsoft.asc
        dest: /etc/apt/keyrings/microsoft.asc
        mode: '0644'

    - name: Add VS Code APT repository
      become: true
      ansible.builtin.deb822_repository:
        name: vscode
        types: deb
        uris: https://packages.microsoft.com/repos/code
        suites: stable
        components: main
        architectures: amd64
        signed_by: /etc/apt/keyrings/microsoft.asc
        state: present

    - name: Install VS Code
      become: true
      ansible.builtin.apt:
        name: code
        state: present
        update_cache: true

    - name: Install VS Code extensions
      ansible.builtin.command:
        cmd: "code --install-extension {{ item }}"
      loop:
        - beardedbear.beardedtheme
        - pkief.material-icon-theme
        - k--kato.intellij-idea-keybindings
        - eamodio.gitlens
      register: tools_vscode_extension_result
      changed_when: "'is already installed' not in tools_vscode_extension_result.stdout"

    - name: Copy the vscode settings
      ansible.builtin.copy:
        src: vscode_settings.json
        dest: "{{ ansible_facts['env']['HOME'] }}/.config/Code/User/settings.json"
        mode: '0664'
